# Databricks Configuration
DATABRICKS_SERVER_HOSTNAME=adb-926216925051160.0.azuredatabricks.net
DATABRICKS_HTTP_PATH=sql/protocolv1/o/926216925051160/0325-154030-toes330
DATABRICKS_TOKEN=seu_personal_access_token_aqui

# Admin Password
ADMIN_PASSWORD=sua_senha_segura
